# App Settings
APP_HOST=0.0.0.0
APP_PORT=44444

# Database Config
DATABASE_USER=postgres
DATABASE_PASSWORD=#########
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=#################

#AUTH0
AUTH0_DOMAIN=########################
AUTH0_AUDI=##########################

# System Config
UPLOAD_FILE_PATH=#################################