uvicorn
fastapi
pydantic
python-multipart
pydantic[email]
rstr==3.2.2
nltk
guardrails-ai
gliner
presidio-analyzer
presidio-anonymizer
transformers
torch
detect-secrets
detoxify
peft
jinja2
thefuzz
pytest
pyright
ruff
codespell
httpx